{% extends "layout.twig" %}

{% block top %}
    <p><br /><a href="../{{service.shortName}}">&laquo; {{service.name}}</a></p>
{% endblock %}

{% set title = service.name~": Video Response" %}
{% block content %}



{% if response.id is defined %}
    <p><b>$response->getId()</b></p>
    <pre>{{ dump(response.id) }}</pre>
{% endif %}

{% if response.service is defined %}
    <p><b>$response->getService()</b></p>
    <pre>{{ dump(response.service) }}</pre>
{% endif %}

{% if response.url is defined %}
    <p><b>$response->getUrl()</b></p>
    <pre>{{ dump(response.url) }}</pre>
{% endif %}

{% if response.date is defined %}
    <p><b>$response->getDate('%d/%m/%Y')</b></p>
    <pre>{{ dump(response.getDate('%d/%m/%Y')) }}</pre>
{% endif %}

{% if response.plays is defined %}
    <p><b>$response->getPlays()</b></p>
    <pre>{{ dump(response.plays) }}</pre>
{% endif %}

{% if response.duration is defined %}
    <p><b>$response->getDuration('%h:%m:%s')</b></p>
    <pre>{{ dump(response.getDuration('%h:%m:%s')) }}</pre>
{% endif %}

{% if response.authorName is defined %}
    <p><b>$response->getAuthorName()</b></p>
    <pre>{{ dump(response.getAuthorName()) }}</pre>
{% endif %}


{% if response.authorUrl is defined %}
    <p><b>$response->getAuthorUrl()</b></p>
    <pre>{{ dump(response.getAuthorUrl()) }}</pre>
{% endif %}


{% if response.authorUsername is defined %}
    <p><b>$response->getAuthorUsername()</b></p>
    <pre>{{ dump(response.getAuthorUsername()) }}</pre>
{% endif %}



{% if response.thumbnail is defined %}
    <p><b>$response->getThumbnail()</b></p>
    <pre>{{ dump(response.getThumbnail()) }}</pre>
{% endif %}

{% if response.thumbnailLarge is defined %}
    <p><b>$response->getThumbnailLarge()</b></p>
    <pre>{{ dump(response.getThumbnailLarge()) }}</pre>
{% endif %}


{% if response.thumbnails is defined %}
    <p><b>$response->getThumbnails()</b></p>
    <pre>{{ dump(response.getThumbnails()) }}</pre>
{% endif %}


{% if response.title is defined %}
    <p><b>$response->getTitle()</b></p>
    <pre>{{ dump(response.title) }}</pre>
{% endif %}

{% if response.description is defined %}
    <p><b>$response->getDescription()</b></p>
    <pre>{{ dump(response.description) }}</pre>
{% endif %}

{% if response.getEmbed() is defined %}
    <p><b>$response->getEmbed()</b></p>
    <pre>{{ dump(response.getEmbed()) }}</pre>
{% endif %}

{% endblock %}
