{% extends "layout.twig" %}

{% block top %}
    <p><br /><a href="/">&laquo; Dukt Videos</a></p>
{% endblock %}

{% set title = service.name %}

{% block content %}

    <p>You can create an instance of this service using:</p>
    <pre>$service = ServiceFactory::create('{{ service.shortName }}');
$response = $service->initialize($params);</pre>

    <h3>Service Settings</h3>
    <p><span class="label label-info">Note</span> These settings will be stored in your session and used to make calls to video service API.</p>

    <form method="post" class="form-horizontal">

        {% for key, default in service.getDefaultParameters %}

            <div class="control-group">
                <label class="control-label" for="service_{{key}}">{{ key }}</label>
                <div class="controls">
                    <input type="text" name="service[{{key}}]" id="service_{{key}}" value="{{settings[key]}}"{% if key == 'token' %} disabled="disabled"{% endif %} />
                </div>
            </div>

        {% endfor %}

        <div class="form-actions">
            {% if settings['token'] is empty %}
                <button type="submit" class="btn btn-primary">Connect</button>
            {% else %}
                <a class="btn" href="/services/{{ service.shortName }}/revoke">Revoke Access</a>
            {% endif %}
        </div>
    </form>

    <h3>Service Methods</h3>

    <p>Click on a method to generate a test request.</p>

    <ul>
        <li><a href="/services/{{ service.shortName }}/getFavorites">getFavorites()</a></li>
        <li><a href="/services/{{ service.shortName }}/getUploads">getUploads()</a></li>
        <li><a href="/services/{{ service.shortName }}/getUserInfos">getUserInfos()</a></li>
        <li><a href="/services/{{ service.shortName }}/getVideo">getVideo()</a></li>
    </ul>

{% endblock %}
